{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "require": true,
    "jest": true,
    "Generator": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "import/prefer-default-export": "off",
    "react/default-props-match-prop-types": false // TODO remove this line when eslint-plugin-react will be fixed
  }
}
